/* SCSS Variables */

// colors
$grey: #333;
$white: #fff;
$lightblue: #b5d0e2;
$darkerblue: #2099e8;

// navigation colors
$nav-background: $grey;

// clock colors
$clock-text-color: $white;
$clock-bg-color: $lightblue;
$clock-border-color: $darkerblue;